* {
  margin: 0;
  padding: 0;
}

.nav-ul {
  display: flex;
  justify-content: center;
  margin: 15px;
  background-color: bisque;
}

.nav-ul li {
  list-style: none;
  padding: 10px;
}

.btn{
    padding: 3px;
    margin: 5px;
    width: 100px;
    cursor: pointer;
}